/* 容器样式 */
.switch {
  width: 36px;
  height: 20px;
  border-radius: 20px;
  background-color: #e4e4e7; /* 默认背景色 */
  position: relative;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.switchOn {
  background-color: #18181b;
}

.switchHandle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 2px; /* 居中滑块 */
  left: 2px; /* 初始滑块位置 */
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.switchOn .switchHandle {
  left: 18px; /* 滑块向右对齐 */
}
