.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .content {
    display: flex;
    flex-direction: row;
    flex: 1;

    .preview {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;

      .download {
        width: 80vh;
        height: 80vh;
        border: 1px solid var(--border-color);
        border-radius: var(--border-radius);
        box-shadow: 3px 6px 10px -3px rgba(0, 0, 0, 0.13),
          3px 6px 10px -3px rgba(0, 0, 0, 0.13);
        margin-top: -20px; // 往上调整一点更符合视觉审美
      }
    }

    .control {
      font-weight: bolder;
      box-sizing: border-box;
      padding: 30px;
      height: 100%;
      display: flex;
      flex-direction: column;

      .radioGroup {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
}

.semi-radio-addon {
  font-weight: normal !important;
}
